extends layout

block content
  .page-header
    h3 Create a New Room

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      label.control-label(for='roomName') Room Name
      input.form-control(type='text', name='roomName', placeholder='Room Name', autofocus=true, required)

      p
      label.control-label(for='roomDescription') Room Description
      input.form-control(type='text', name='roomDescription', placeholder='Description', autofocus=true)

      //planning on getting rid of the admin passphrase opion. Make a room either public or private. If public anyone can add and no one can delete. If private, you can add people to give them permissions and specify public permissions
      if !user
        br
        label.control-label(for='adminPass') Admin Passphrase
        .help-block Knowing this gives user all permissions
        input.form-control(type='text', name='adminPass', placeholder='Admin Password', autofocus=true)
      else
        input(type='hidden', name='creator', value="#{ user.profile.name }")

      br
      label.control-label(for='publicCanAdd') Anyone with url can:
      p
        | &nbsp;&nbsp;&nbsp;&nbsp;
        input(, type='checkbox', name='publicCanAdd', checked=true)
        |   Add Videos

        br
        |&nbsp;&nbsp;&nbsp;&nbsp;
        input(, type='checkbox', name='publicCanDelete')
        |   Delete Videos
      p
      label.control-label(for='showRoomPublicly') Showcase room & description on public list: &nbsp;
      input(type='checkbox', name='showRoomPublicly', checked=true)

      .form-group
        button.btn.btn-success(type='submit')
          i.fa.fa-youtube-play
            |   Create
      hr

  script(src='https://cdn.firebase.com/js/client/1.0.15/firebase.js')
  script.
    var firebaseToken = "!{firebaseToken}";
    var roomsRef = new Firebase("https://ourtube.firebaseio.com/");
    // Log me in.
    dataRef = new Firebase('https://ourtube.firebaseio.com/rooms');
    dataRef.auth(firebaseToken, function(error) {
      if(error) {
        console.log("Login Failed!", error);
      } else {
        console.log("Login Succeeded!");
      }
    });