extends layout

block content
  .page-header
    h3 Create a New Room

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      label.control-label(for='roomName') Room Name
      input.form-control(type='text', name='roomName', placeholder='Room Name', autofocus=true, required)

      if !user
        label.control-label(for='adminPass') Admin Passphrase
        input.form-control(type='text', name='adminPass', placeholder='Admin Password', autofocus=true)
      else
        input(type='hidden', name='creator', value="#{ user.id }")

      p
      label.control-label(for='roomDescription') Room Description
      input.form-control(type='text', name='roomDescription', placeholder='Description', autofocus=true)

      if user
        p
        label.control-label(for='publicCanSeeCreator') Show I created the room: &nbsp;
        input(, type='checkbox', name='publicCanSeeCreator', checked=true)

      br
      label.control-label(for='publicCanAdd') Anyone with url can:
      p
        | &nbsp;&nbsp;&nbsp;&nbsp;
        input(, type='checkbox', name='publicCanAdd', checked=true)
        |   Add Videos

        br
        |&nbsp;&nbsp;&nbsp;&nbsp;
        input(, type='checkbox', name='publicCanDelete')
        |   Delete Videos

      .form-group
        button.btn.btn-success(type='submit')
          i.fa.fa-youtube-play
            |   Create
      hr

  script(src='https://cdn.firebase.com/js/client/1.0.15/firebase.js')
  script.
    var firebaseToken = "!{firebaseToken}";
    var roomsRef = new Firebase("https://ourtube.firebaseio.com/");
    // Log me in.
    dataRef = new Firebase('https://ourtube.firebaseio.com/rooms');
    dataRef.auth(firebaseToken, function(error) {
      if(error) {
        console.log("Login Failed!", error);
      } else {
        console.log("Login Succeeded!");
      }
    });